.register__title {
    font-family: var(--font-second);
    font-weight: 800;
}

.register__text {
    margin-top: auto;
    padding: 0 16px;
}

.register__btn {
    background-color: transparent;
    color: var(--color-white);
    margin-top: 16px;
    margin-bottom: 2px;
    padding: 4px 12px;
    border: 2px solid var( --color-white);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.register__btn:hover {
    margin-top: 14px;
    margin-bottom: 0;
    padding: 6px 14px;
    font-size: 1.02em;
}

.register__terms {
    margin-top: -10px;
    text-decoration: none;
    color: var(--color-white);
    font-size: 0.7em;
}