:root {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&family=Roboto:wght@300;500;700&display=swap')

  --a: white;
  
  --color-white: #f8f8f8;
  --color-gray: #909090;
  --color-blue: #45A6FF;
  
  --font-primary: "Roboto", sans-serif;
  --font-second: "Montserrat", sans-serif;
}